@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html body * {
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
}

body {
    background-image: url(00-showcases/circle-packing.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 260px;
    margin: 0;
    background-color: #111;
}

.intro {
    text-align: center;
    padding: 25px;
    background: #111;
    color: #ddd;
}

h1 {
    font-size: 48px;
    font-weight: 300;
    padding: 0;
    margin: 27px 0 0 0;
}

h2 {
    padding: 0;
    margin:0;
    font-weight: 200;
}

.intro p {
    opacity: 0.5;
    font-size: 12px;
}

.intro p a {
    color: #FA8CD3;
}

.start-button {
    border: solid 1px white;
    padding: 5px 6px;
    margin-top: 10px;
    text-decoration: none;
    color: white; 
    display: inline-block;
    border-radius: 2px;
}